# HTTPS LAN locale: genera i file in certs/ con npm run cert:lan.
VITE_LAN_HTTPS=true
VITE_LAN_IP=192.168.0.28
VITE_DEV_HOST=0.0.0.0
VITE_DEV_PORT=5280
VITE_HTTPS_CERT=certs/192.168.0.28.pem
VITE_HTTPS_KEY=certs/192.168.0.28-key.pem
